<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.attendance.mapper.AttendanceMapper">

	<insert id="insert"
		parameterType="com.example.attendance.model.Attendance">
		INSERT INTO attendance (
		user_id,
		attendance_date
		)
		VALUES (
		#{userId},
		#{attendanceDate}
		)
	</insert>

	<select id="existsByUserIdAndDate" resultType="boolean">
		SELECT COUNT(*) >0
		FROM attendance
		WHERE user_id = #{userId}
		AND attendance_date = #{attendanceDate}
	</select>

	<select id="findById"
        parameterType="int"
        resultType="com.example.attendance.dto.AttendanceView">

		SELECT
		a.attendance_id AS attendanceId,
		u.unit AS unit,
		u.name AS username,
		a.status AS status,
		a.attendance_date AS attendanceDate
		FROM
		attendance a
		JOIN users u ON a.user_id = u.user_id
		WHERE a.attendance_id
		= #{attendanceId}
	</select>

	<select id="findByDate" parameterType="java.time.LocalDate"
		resultType="com.example.attendance.dto.AttendanceView">

		SELECT
		a.attendance_id AS attendanceId,
		u.unit AS unit,
		u.name AS username,
		a.status AS status,
		a.attendance_date AS attendanceDate
		FROM attendance a
		JOIN users u ON a.user_id = u.user_id
		WHERE a.attendance_date = #{date}
		ORDER BY u.unit, u.name
	</select>

	<update id="updateAttendance">
		UPDATE attendance
		SET
		status = #{status},
		attendance_date =
		#{attendanceDate}
		WHERE attendance_id = #{attendanceId}
	</update>
	
	<select id="search"
        resultType="com.example.attendance.dto.AttendanceView">

		SELECT
		a.attendance_id AS attendanceId,
		u.unit AS unit,
		u.name AS username,
		a.status AS status,
		a.attendance_date AS attendanceDate
		FROM
		attendance a
		JOIN users u ON a.user_id = u.user_id
		<where>
		<if test="unit != null and unit != ''">
		u.unit = #{unit}
		</if>
		<if test="username != null and username != ''">
		AND u.name = #{username} 
		</if>
		<if test="date != null">
		AND a.attendance_date = #{date}
		</if>
		</where>  
	</select>


</mapper>
