<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>出席者照会</title>
</head>
<body>

  <h1>出席者照会</h1>
  <hr>

  <!-- 検索フォーム -->
  <form
    th:action="@{/attendance/search}"
    method="get">
    <label>ユニット： <select name="unit">
      <option value="">選択してください</option>
      <option value="ict">ICT</option>
      <option value="dxservice">DXサービス</option>
      <option value="dxcloud">DXクラウド</option>
      <option value="media">メディア</option>
      <option value="innovation">イノベーション</option>
      <option value="socialcommunication">社会通信</option>
      <option value="corporatecommunication">法人通信</option>
      <option value="public">公共</option>
      <option value="social">社会</option>
      <option value="expert">エキスパート</option>
      <option value="sales">営業</option>
      <option value="business">業務</option>
    </select></label><br>
	
	<label>氏名： <input
      type="text"
      name="username"
      placeholder="例：山田太郎"></label><br>
	  
	<label> 日付： <input
      type="date"
      name="date"
      th:value="${date}">
    </label><br>
	
    <button type="submit">検索</button>
  </form>

  <hr>

  <!-- 検索結果 -->
  <p th:if="${#lists.isEmpty(attendanceList)}">該当する出席者はいません。</p>

  <table
    border="1"
    th:if="${!#lists.isEmpty(attendanceList)}">
    <thead>
      <tr>
        <th>ユニット</th>
        <th>名前</th>
        <th>出欠</th>
        <th>日付</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="a : ${attendanceList}">
        <td th:text="${a.unitLabel}"></td>
        <td th:text="${a.username}"></td>
        <td th:text="${a.status == 'ATTEND' ? '出席' : '欠席'}"></td>
        <td th:text="${a.inputDate}"></td>
        <td><a
          th:href="@{/attendance/edit(attendanceId=${a.attendanceId})}">
            更新 </a></td>
      </tr>
    </tbody>
  </table>

  <br>
  <a href="/attendance">出席登録へ</a>
  <br>
  <a th:href="@{/}">メニューへ戻る</a>

</body>
</html>
