<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>出席情報更新</title>
</head>
<body>

  <h1>出席情報更新</h1>
  <hr>

  <p>
    ユニット：<span th:text="${attendance.unitLabel}"></span>
  </p>

  <p>
    名前：<span th:text="${attendance.username}"></span>
  </p>

  <form th:action="@{/attendance/update}"
        method="post"
        onsubmit="return confirm('この内容で更新しますか？');">


    <input
      type="hidden"
      name="attendanceId"
      th:value="${attendance.attendanceId}" /> <label> 出欠： <select
      name="status">
        <option
          value="ATTEND"
          th:selected="${attendance.status == 'ATTEND'}">出席</option>
        <option
          value="ABSENT"
          th:selected="${attendance.status == 'ABSENT'}">欠席</option>
    </select>
    </label> <br> <br> <label> 日付： <input
      type="date"
      name="attendanceDate"
      th:value="${attendance.attendanceDate}" />
    </label> <br> <br>

    <button type="submit">更新</button>
    <a href="/attendance/today">一覧へ戻る</a>

  </form>
  <br>
  <a th:href="@{/}">メニューへ戻る</a>
</body>
</html>
