<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>本日の出席者一覧</title>
</head>
<body>

  <h1 th:text="'本日の出席者一覧（' + ${date} + '）'"></h1>
  <!-- 更新完了メッセージ -->
  <p th:if="${successMessage}"
     th:text="${successMessage}"
     style="color: green; font-weight: bold;">
  </p>

  <hr>

  <!-- 出席者がいない場合のメッセージ -->
  <p th:if="${#lists.isEmpty(attendanceList)}">本日の出席者はまだいません。</p>

  <table border="1">
    <thead>
      <tr>
        <th>ユニット</th>
        <th>名前</th>
        <th>出欠</th>
        <th>日付</th>
        <th>操作</th>
      </tr>
    </thead>

	<tbody>
	  <tr th:each="a : ${attendanceList}">
	    <td th:text="${a.unitLabel}"></td>
	    <td th:text="${a.username}"></td>
	    <td th:text="${a.status == 'ATTEND' ? '出席' : '欠席'}"></td>
	    <td th:text="${a.inputDate}"></td>
	    <td>
			<a th:href="@{/attendance/edit(attendanceId=${a.attendanceId})}">
			  更新
			</a>
	    </td>
	  </tr>
	</tbody>

  </table>

  <br>
  <a th:href="@{/}">メニューへ戻る</a>

</body>
</html>
